h1 {
    text-align: center;
}

.green {
    background-color: green;
}

body {
    font-family: 'Poiret One', cursive;

}

.clickArea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}